.itemWrapper {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0px 10px;
    overflow: hidden;
}

.itemWrapper:nth-child(n+1) {
    border-bottom: 2px solid rgba(100, 100, 100, 0.199);
}

.itemWrapper:last-child {
    border-bottom: 0px;
}

.itemTitleWrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.itemCheckboxWrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.checkbox {
    /*display: none;*/
    width: 21px;
    height: 21px;
    opacity: 0;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.customCheckbox {
    display: inline-block;
    position: relative;
    min-width: 21px;
    min-height: 21px;
    border: 2px solid rgba(100, 100, 100, 0.199);
    z-index: 0;
}

.customCheckbox::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 6px;
    left: 3px;
    top: 3px;
    transform: rotate(-180deg) scale(0%);
    border-bottom: 1px solid #61DAFB;
    border-left: 1px solid #61DAFB;
    transition: 0.2s all;
    opacity: 0;
}

.checkbox:checked + .customCheckbox::before {
    opacity: 1;
    transform: rotate(-45deg) scale(100%);
}

.editTitleInputWrapper {
    display: flex;
    position: relative;
    align-items: flex-end;
    width: 100%;
    height: 25px;
    padding: 0px 0px;
    margin-left: 10px;
}

.inputTitle,
.inputDescription {
    display: block;
    position: relative;
    width: 100%;
    padding: 0px 10px;
    background-color: rgba(100, 100, 100, 0.199);
    border-radius: 5px;
    color: #fff;
    word-break: break-all;
    user-select: none;
    outline: none;
    resize: none;
}

.inputTitle {
    height: 25px;
    margin-left: 10px;
    line-height: 30px;
    font-size: 20px;
}

.inputDescription {
    display: block;
    position: relative;
    font-size: 15px;
    margin-bottom: 0px;
    height: 0px;
    transition: 0.3s all;
    color: #fff;
    word-wrap: break-word;
}

.inputDescription::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.inputDescription::-webkit-scrollbar-thumb {
    background-color: #61DAFB;
    border-radius: 5px;
}

.inputDescriptionActive {
    height: 150px;
    margin-bottom: 10px;
}

.itemTitle {
    display: block;
    position: relative;
    line-height: 30px;
    height: 30px;
    font-size: 24px;
    color: #fff;
    padding: 0px 10px;
    word-break: break-all;
    cursor: pointer;
    /* user-select: none; */
}

.itemOptions {
    display: flex;
    position: relative;
    flex-direction: row;
    width: fit-content;
}

.itemOptions div {
    margin-right: 5px;
}

.itemOptions div:last-child {
    margin-right: 0px;
}

.deleteItem {
    display: block;
    position: relative;
    height: 20px;
    width: 20px;
    background-image: url(./icons/delete.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: 0.3s all;
}

.deleteItem:hover {
    filter: contrast(200%); 
}

.lineThrough {
    text-decoration: line-through;
}

.itemDescription {
    display: block;
    position: relative;
    width: 100%;
    max-height: 0px;
    height: fit-content;
    font-size: 16px;
    color: #fff;
    margin-bottom: 0px;
    transition: 0.35s all;
    word-wrap: break-word;
}

.openDescription {
    max-height: 500px;
    margin-bottom: 10px;
}

.descriptionToggler {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: 0.35s all;
    background-image: url(./icons/arrow_left.png);
    background-size: contain;
    transform: rotate(0deg);
    cursor: pointer;
}

.editTodo {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    background-image: url(./icons/edit.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: opacity(50%);
    transition: 0.3s all;
}

.editCheckMark {
    background-image: url(./icons/check.png);
    background-size: 85%;
}

.editTodo:hover {
    filter: contrast(200%);
}

.togglerOpen {
    transform: rotate(-90deg);
}